@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0px;
}
.navbar {
  padding: 15px;
}

.navbar a {
  padding: 10px;
  background-color: green;
}
.ul__list {
  margin: 20px;
}
